main {
    margin-top: 20px;
}
 
 main > p {
    font-size: 20pt;
    color: white;
  }
  
  main > img {
    float: left;
    width: 300px;
    height: 300px;
  }

  @media (max-width: 768px) {
  main {
      margin-top: 40px;
  }
    
  main > p {
    /* margin-top: 40px; */
    font-size: 12pt;
    color: white;
  }

  main > img {
    width: 200px;
    height: 200px;
    /* margin-top: 40px; */
  }
}