  #root {
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
  }


  #root > a > img {
    width: 400px;
    height: 400px;
    margin-top: 20px;
    transition: transform .2s;
  }

  #root > a > img:hover{
    cursor: pointer;
    transform: scale(1.1);
    /* border: solid orange 5px; */
  }


  
  @media (max-width: 768px) { 
  #root {
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
   }


  #root > a > img {
    width: 400px;
    height: 400px;
    margin-top: 40px;
  }

  #root > a > img:hover{
    cursor: pointer;
    transform: none;
  }

}
  