main {
  display: flex;
  flex-direction: column;
}

main > section {
  display: inline-flex;
  margin: 20px;
}

main > section > a > img {
  width: 150px;
}

main section img:hover {
  background: rgb(255,165,0);
  border-radius: 25%;
}
  
main section .facebook {
  background: white;
  border-radius: 25%;
  border: white solid 10px;
}

main section .twitter {
  background: white;
  border-radius: 25%;
  border: white solid 10px;
}

main section .instagram {
  background: white;
  border-radius: 25%;
  border: white solid 10px;
}


main > section > h2 {
  color: white;
  font-size: 30px;
  margin-left: 30px;
}

@media (max-width: 768px) {
  
  main > section {
    margin-top: 40px;
  }

  main > section > h2 {
    color: white;
    font-size: 20px;
    margin-left: 20px;
  }
  
  main > section > a > img {
    width: 100px;
  }
}