
main > .align {
margin-top: 20px;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}

main > div > section {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    background-color: none;
    border: solid white 10px;
    width: 300px;
    border-radius: 25px;
    padding: 10px;
    transition: transform .2s;
}

main > div > section:hover {
  transform: scale(1.1);
  background-color: orange;
}

main > div > section > a {
  text-decoration: none;
}

main > div > section > a > h1 {
  margin: 0;
  color: white;
  text-align: center;
  vertical-align: center;
}
main > div > section > a > img {
  width: 100%;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
}


main > div > section > a > p {
    margin: 30px;
    color: white;
    text-align: left;
}    

@media (max-width: 768px) { 

  main > .align {
    margin-top: 40px;
    }

  main > div > section {
      display: inline-flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 10px;
      background-color: orange;
      width: 400px;
      border-radius: 25px;
      padding: 10px;
  }

  main > div > section:hover {
    transform: none; 
  }
}